{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
    <title>Document</title>
    <nav class="nav navbar bg-dark py-3 text-white">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'standings' %}">Standings</a>
        <a href="{% url 'stats' %}">Stats</a>
        <a href="{% url 'schedule' %}">Schedule</a>
        <a href="{% url 'settings' %}">Settings</a>
    </nav>
</head>
<body>
    <h2 class="text-center py-3">Settings</h2>
    <div class="text-center py-2">
        <h4><a href="{% url 'teamManagement' %}">Team Management</a></h4>
        <h4>Player Management</h4>
        <h4>League Management</h4>
    </div>
</body>
</html>