{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
    <title>Document</title>
    <nav class="nav navbar bg-dark py-3 text-white">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'standings' %}">Standings</a>
        <a href="{% url 'stats' %}">Stats</a>
        <a href="{% url 'schedule' %}">Schedule</a>
        <a href="{% url 'settings' %}">Settings</a>
    </nav>
</head>
<body>
    <div>
        <h2 class="text-center py-3">Team Management</h2>
    </div>
    <div class="text-center">
        <ul class="list-unstyled">
        {% for team in teams %}
        <li>
            <a href="{% url 'team' team.id %}">{{team}} </a>
        </li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <h2 class="text-center">Create New Team</h2>
        <div>
        <form class="text-center" action="" method="post">
            {% csrf_token %}
            <div class="p-1col justifycontent-center">
                City&nbsp;&nbsp;{{form.city}}
            </div>
            <div class="p-1 col justifycontent-center">
                Name&nbsp;&nbsp;{{form.name}}
            </div>
            <button class="p-2 btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    </div>
        
</body>
</html>